.main-wrapper {
  width: 100%;
  height: 100vh;
  box-sizing: border-box;
}

h1, p {
  margin: 0 0;
}

section {
  width: 50%;
  height: 50%;
}
#about {
  float: left;
}

#education {
  float: right;
}

#skills {
  float: left;
}

#portfolio {
  float: right;
}